# Python

## List Slicing

In [4]:
b = ['Pakistan', 'Hello', 12, 3.6]
b

['Pakistan', 'Hello', 12, 3.6]

In [5]:
b[2:4]

[12, 3.6]

In [11]:
d = b[-3:-1]
print(d)
type(d)

['Hello', 12]

list

In [12]:
new_list = d
new_list

['Hello', 12]

In [13]:
alist =        [1, 2, 5, 4, 3, 5, 56, 555,]
# index =>      0  1  2  3  4  5   6    7
# - index =>    -8 -7 -6 -5 -4 -3  -2  -1
alist

[1, 2, 5, 4, 3, 5, 56, 555]

In [19]:
alist[6:-6:-1] # right to left access slice...

[56, 5, 3, 4]

In [14]:
alist[0:10:3] # slice using steping

[1, 4, 56]

In [ ]:
alist[::]

In [16]:
alist[::-1] # copy of reverse value

[555, 56, 5, 3, 4, 5, 2, 1]

### Loop cont

In [ ]:
students = ['Asad', 'Saleem', 'Ahmed', 'Yousuf', 'Kashif', 'Ali']

In [20]:
students = []

In [21]:
for x in range(10):
    x = input(f'Enter name {x+1}: ')
    students.append(x)
    
students

Enter name 0salim
Enter name 1ahmed
Enter name 2yousuf
Enter name 3yasin
Enter name 4kashif
Enter name 5yaseen
Enter name 6ali
Enter name 7habib
Enter name 8hassan
Enter name 9nasir

['salim',
 'ahmed',
 'yousuf',
 'yasin',
 'kashif',
 'yaseen',
 'ali',
 'habib',
 'hassan',
 'nasir']

### Exercise

#### 4.1

In [31]:
pizzas = ['Pizza1', 'Pizza2', 'Pizza3',]
for x in pizzas:
    print(x)

print()   

for x in pizzas:
    print(f'I like {x}')
else:
    print('\nI like pizza because it is very tasty...')

Pizza1
Pizza2
Pizza3

I like Pizza1
I like Pizza2
I like Pizza3

I like pizza because it is very tasty...

### 4-2

In [32]:
animals = ['Lion', 'Tiger', 'Leopard',]
for x in animals:
    print(x)

print()

for x in animals:
    print(f'These are the wild animals{x}')
else:
    print('\nThey are deadly animals')

Lion
Tiger
Leopard

These are the wild animalsLion
These are the wild animalsTiger
These are the wild animalsLeopard

They are deadly animals

In [49]:
print('Even no')
for x in range(0,21,2):
    print(x)

print()

print('Odd no')
for x in range(1,21,2):
    print(x)

Even no
0
2
4
6
8
10
12
14
16
18
20

Odd no
1
3
5
7
9
11
13
15
17
19

In [47]:
even = []
odd = []

for num in range(1, 50):
    if num%2 == 0:
        even.append(num)
    else:
        odd.append(num)

print('Even', even)
print('Odd', odd)

Even [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
Odd [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [53]:
employees = ['Ahmed', 'Yousuf', 'Hunan']

employee = input('Enter employees name: ')

if employee in employees:
    print(f'Congrats! {employee} is already in the list')
else:
    print('Not avaible ')

Enter employees name: Ahmed
Congrats! Ahmed is already in the list

### Page 92

In [58]:
av_troppings = ['mushrooms', 'olives', 'green pepers', 'pepperoni', 'pineapple', 'extra cheese']

req_toppings = ['mushrooms', 'fries', 'extra cheese']

for req_top in req_toppings:
    if req_top in av_troppings:
        print('Adding', req_top, '.')
    else:
        print('Sorry', 'we dont have', req_top, '.')
        
print("\nFinished making your Pizza")

Adding mushrooms .
Sorry we dont have fries .
Adding extra cheese .

Finished making your Pizza

In [59]:
employees = []

for emp in range(3):
    employee = input('Enter employees name: ')

    if employee not in employees:
        print(f'Successfully add {employee}')
        employees.append(employee)
    else:
        print('Already Present')

Enter employees name: salimn
Successfully add salimn
Enter employees name: salimn
Already Present
Enter employees name: ahmed
Successfully add ahmed

In [60]:
employees

['salimn', 'ahmed']