### Tuple

In [2]:
my_tuple = []
for a in range(1,5):
    for b in range(11,13):
        my_tuple.append((a,b))
        
my_tuple

[(1, 11), (1, 12), (2, 11), (2, 12), (3, 11), (3, 12), (4, 11), (4, 12)]

In [5]:
my_list = []

for a in range(1, 5):
    my_list.append((a, a*a))

my_list

[(1, 1), (2, 4), (3, 9), (4, 16)]

In [8]:
[(a,b)  for a in range(1,5) for b in range(11,13) if b>a]

[(1, 11), (1, 12), (2, 11), (2, 12), (3, 11), (3, 12), (4, 11), (4, 12)]

### Set

In [10]:
my_set = {5, 2, 4, 9, 7, 4, 3, 1, 0, 7}
my_set

{0, 1, 2, 3, 4, 5, 7, 9}

In [15]:
my_list = [5, 2, 4, 9, 7, 4, 3, 1, 0, 7, 6, 6, 8, 34]
my_list = list(set(my_list)) 
my_list

### SET
# duplicate remove 
# sorting

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 34]

In [22]:
my_list = [5, 2, 4, 9, 7, 4, 3, 1, 0, 7, 6, 6, 8, 34]
unique = []
for x in my_list:
    if x not in unique:
        unique.append(x)
unique

[5, 2, 4, 9, 7, 3, 1, 0, 6, 8, 34]

In [32]:
my_set = {5, 2, 4, 9, 7, 4, 3, 1, 0, 7, 6, 6, 8, 34}
my_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 34}

In [33]:
my_set.difference({5, 18, 19, 30}, {96, 89, 99, 47})

{0, 1, 2, 3, 4, 6, 7, 8, 9, 34}

In [34]:
my_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 34}

In [35]:
my_set.difference_update({5, 18, 19, 30})
my_set

{0, 1, 2, 3, 4, 6, 7, 8, 9, 34}

In [36]:
my_set

{0, 1, 2, 3, 4, 6, 7, 8, 9, 34}

In [46]:
my_set = {5, 2, 4, 9, 7, 4, 3, 1, 0, 7, 6, 6, 8, 34}
my_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 34}

In [47]:
my_set.isdisjoint({100, 4, 19})

False

In [50]:
my_set = {5, 2, 3, 5}
my_set

{2, 3, 5}

In [57]:
my_set.add('Ahmed')
my_set.add('zubair')
my_set

{2, 3, 5, 'Ahmed', 'zubair'}

In [59]:
my_set.update({'Yousuf', 'Bilal'}) # mutliple new recv
my_set

{2, 3, 5, 'Ahmed', 'Bilal', 'Yousuf', 'zubair'}

In [60]:
my_set.update('45Hello')

In [61]:
my_set

{2, 3, '4', 5, '5', 'Ahmed', 'Bilal', 'H', 'Yousuf', 'e', 'l', 'o', 'zubair'}

### Dictionary

In [78]:
dictionary = {
    'name': 'saleem',
    'age': 22,
    'qual': 'BE',
    'Exp': 5,
    'age': 21
}
dictionary

{'name': 'saleem', 'age': 21, 'qual': 'BE', 'Exp': 5}

In [79]:
dictionary['name']

'saleem'

In [80]:
dictionary['name'] = 'Ahmed'
dictionary

{'name': 'Ahmed', 'age': 21, 'qual': 'BE', 'Exp': 5}

In [81]:
del dictionary['age']
dictionary

{'name': 'Ahmed', 'qual': 'BE', 'Exp': 5}

In [84]:
for k in dictionary:
    print(k)

name
qual
Exp

In [87]:
for k in dictionary.keys():
    print(dictionary[k])

Ahmed
BE
5

In [88]:
for v in dictionary.values():
    print(v)

Ahmed
BE
5

In [91]:
for k,v in dictionary.items():  # by position unpacking.
    print(k.capitalize(), v)

Name Ahmed
Qual BE
Exp 5

In [94]:
for i, item in enumerate(dictionary.items()):  # by position unpacking.
    print(i, item)

0 ('name', 'Ahmed')
1 ('qual', 'BE')
2 ('Exp', 5)

In [96]:
for i, (b,c) in enumerate(dictionary.items()):  # by position unpacking.
    print(i, b, c)

0 name Ahmed
1 qual BE
2 Exp 5

In [99]:
dictionary.pop('name', 'None')  # if key is not found return None

'None'

In [102]:
dictionary.popitem()

('Exp', 5)

In [115]:
abc = dictionary.get('abc', 'None')
abc

'None'

### Dictionary compreshion

In [147]:
food = {'doner kebab': 400, 'ayran': 50, 'baklava': 330}

In [148]:
{k:v/160 for k,v in food.items()}

{'doner kebab': 2.5, 'ayran': 0.3125, 'baklava': 2.0625}

In [149]:
{k:v/160 for k,v in food.items() if  v/160 > 0.5}

{'doner kebab': 2.5, 'baklava': 2.0625}